@page
@model ServiceModule.Pages.forgetpasswordModel
@{
	ViewData["Title"] = "forgetpassword";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>CareSwift</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="We provide all homecare services." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en-us" />
    <meta property="og:title" content="CareSwift - A Swift Path to better Health" />
    <meta property="og:site_name" content="CareSwift" />
    <meta property="og:description" content="We provide all homecare services." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://nest.apexcode.info/" />
    <meta property="og:image" content="~/imgs/theme/logo.jpeg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="CareSwift" />
    <meta name="twitter:description" content="We provide all homecare services." />


    <link rel="shortcut icon" type="image/x-icon" href="~/imgs/theme/logo.jpeg" />
    <link href="~/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
</head>
<body>
    <main>
        <header class="main-header style-2 navbar">
            <div class="col-brand">
                <a href="/" class="brand-wrap">
                    <img src="~/imgs/theme/logo.jpeg" class="logo" alt="CareSwift" />
                </a>
            </div>
            <div class="col-nav">
                <ul class="nav">

                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>

                </ul>
            </div>
        </header>
        <section class="content-main mt-80 mb-80">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 m-auto text-center">
                </div>
            </div>
            <div class="card mx-auto card-login">
                <div class="card-body">
                    <h4 class="card-title mb-4">Sign in</h4>
                    <form method="post">
                        <input type="hidden" name="csrfmiddlewaretoken" value="Y2HLoEfwBQFYzPwnqM4zfJPy29DOH8g8Fx1sduGdom4Jf0roeAdvmBTd5CBbgHJr">
                        <div class="mb-3">
                            <input class="form-control" name="email" value="" placeholder="Email" type="text" />
                            <small id="hint_id_username" class="form-text text-muted">Enter the password sent to your email to login.</small>
                        </div>

                       

                        <div class="mb-4">
                            <button type="submit" style="padding-left: 124px;" class="btn btn-primary w-100" onclick= asp-area ="" asp-page="/login">Reset Password</button>
                        </div>

                    </form>
                    <div class="d-grid gap-3 mb-4">
                        

            </div>
        </section>
        <footer class="main-footer text-center">
            <p class="font-xs">
                <script>
                    document.write(new Date().getFullYear());
                </script>
                &copy; CareSwift - All rights reserved.
            </p>

        </footer>
    </main>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
</body>
</html>

