@page
@model ServiceModule.Pages.registerModel
@{
    ViewData["Title"] = "register";
}


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>CareSwift</title>
<meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="We provide all homecare services." />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta property="og:locale" content="en-us" />
    <meta property="og:title" content="CareSwift - A Swift Path to better Health" />
<meta property="og:site_name" content="CareSwift" />
    <meta property="og:description" content="We provide all homecare services." />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://nest.apexcode.info/" />
    <meta property="og:image" content="~/imgs/theme/logo.jpeg" />
<meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="CareSwift" />
    <meta name="twitter:description" content="We provide all homecare services." />


    <link rel="shortcut icon" type="image/x-icon" href="~/imgs/theme/logo.jpeg" />
    <link href="~/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
</head>
<body>
<main>
        <header class="main-header style-2 navbar">
            <div class="col-brand">
                <a href="/" class="brand-wrap">
                    <img src="~/imgs/theme/logo.jpeg" class="logo" alt="CareSwift" />
                </a>
            </div>
            <div class="col-nav">
                <ul class="nav">

                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>

                </ul>
            </div>
        </header>
<section class="content-main mt-80 mb-80">
<div class="row">
<div class="col-xl-6 col-lg-6 col-md-12 m-auto text-center">
</div>
</div>
<div class="card mx-auto card-login">
<div class="card-body">
<h4 class="card-title mb-4">Create an Account</h4>
<form method="post">
<input type="hidden" name="csrfmiddlewaretoken" value="0ADj76FFRqL2skoCZ0gPjcF3DnOH7gjcH5X0WW6mEWaN8vjDNOpLq4JIGQM4GPMv">
<div class="mb-3">
<label class="form-label">Username</label>
<input class="form-control" placeholder="Your Username" name="username" maxlength="149" type="text" required />
<small id="hint_id_username" class="form-text text-muted">usernames can't contain spaces, only letters and numbers.</small>
</div>
<div class="mb-3">
<label class="form-label">Email</label>
<input class="form-control" placeholder="Your email" name="email" type="text" required />
</div>

<div class="mb-3">
<label class="form-label">Phone</label>
<div class="row gx-2">

<div class="col-12"><input class="form-control" placeholder="Phone" name="phone" type="number" required /></div>
</div>
</div>

<div class="mb-3">
<label class="form-label">Create password</label>
<input class="form-control" placeholder="Password" name="password" type="password" required />
</div>

<div class="mb-3">
<p class="small text-center text-muted">By signing up, you confirm that you’ve read and accepted our User Notice and Privacy Policy.</p>
</div>

<div class="mb-4">
                            <button type="submit" class="btn btn-primary w-100" style="padding-left: 124px;" onclick= asp-area ="" asp-page="/dashboard">Register</button>
</div>

</form>
                    <p class="text-center mb-2">Already have an account? <a asp-area="" asp-page="/login">Sign in now</a></p>
</div>
</div>
</section>
<footer class="main-footer text-center">
<p class="font-xs">
<script>
                        document.write(new Date().getFullYear());
                    </script>
&copy; CareSwift - All rights reserved .
</p>

</footer>
</main>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
</body>
</html>

